/*Custom Properties*/
:root {
-darkBrown: #483434;
-brown: #6B4F4F;
-beige: #EED6C4;
-pale: #FFF3E4;

--font: font-family: 'Lato', sans-serif;
}

/*Box model snippet*/
html{
    box-sizing:border-box;
    font-size: 62.5%; /* 1rem =  10px*/
}

*,*:before,*:after{
    box-sizing:inherit;
}

/*Global*/
body {
    background-color: var(--beige);
}