/**Custom Properties**/
:root {
    --darkbrown: #483434;
    --brown: #6B4F4F;
    --beige: #EED6C4;
    --pale: #FFF3E4;
    --pale: #FFF3E4;
    --lightgrey: #ececec;
    --font: font-family: 'Lato', sans-serif;
}

/**Box model snippet**/
html{
    box-sizing:border-box;
    font-size: 62.5%; /* 1rem =  10px*/
}

*,*:before,*:after{
    box-sizing:inherit;
}

/**Global**/
body {
    background-color: var(--lightgrey);
    font-size: 1.6rem;
    line-height: 1.5; /*line spacing*/
}

p {
    font-size: 1.8rem;
    font-family: var(--font);
    color: black;
}


/*Hyperlinks*/
a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 120rem;
    margin: 0 auto; /*this is a way to center content*/
}

h1, h2, h3 {
    text-align: center; 
    color: var(--brown);
    font-family: var(--font);
}

h1 {
    font-size: 4rem;
}
 
h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

/**Header**/

.header {
    display: flex;
    justify-content: center; /*Horizontally centers*/
}

.header__logo {
    /*1rem of margin at the top and bottom
    0 of margin at the left and right*/
    margin: 1rem 0; 
    height: 100px;
    
}

/**Navigation**/
.navigation {
    background-color: var(--darkbrown);
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    /*gap: 10rem; New way of separating elements in flexbox*/
}

.navigation__link {
    font-family: var(--font);
    color: white;
    font-size: 2.5rem;
    margin-right: 2rem; /*Older way of separating elements in flexbox*/
   
}

.navigation__link:last-of-type {
    margin-right: 0;
}


.navigation__link--active,
.navigation__link:hover  {
    color: #babbae;
  
}

/**Grid**/
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 768px ){
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .product img {
        max-height: 400px; 
    }
}


/**Products**/
.product {

}

.product__image {

}

.product__information {

}

.product__name {

}

.product__price {
    
}

/**Footer**/
.footer {
    background-color: black;
    padding: 1rem 0;
    margin-top: 2rem;
    
}

.footer__text {
    color:white;
    text-align: center;
}
